.col.box,
.input.box-grow.message-box-wrapper {
  border-radius: 13px;
}
.box-grow-zero.col.col-center.login-page {
  background-size: cover;
}
.board.box.col,
.components,
.emoji-list {
  background-color: #243b57 !important;
}
.preview-box,
.quoted-message {
  background-color: #3b3b3b !important;
}
element.style {
}
injected stylesheet .box-grow-zero.col.col-center.login-page {
  background-size: cover;
}
@media (orientation: landscape) .login-page {
  background-image: var(--wallpaper-wide);
}
.login-page {
  border: none;
  color: var(--text-color);
  font-size: var(--font-size-lg);
  background: no-repeat 0 0;
  background-size: 100% 100%;
}
.box-grow-zero {
  flex: 1 0 auto;
  flex-basis: 0;
}
.col-center {
  align-items: center;
  justify-content: space-around;
}
.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
*,
:after,
:before {
  box-sizing: border-box;
}
user agent stylesheet div {
  display: block;
}
:root .rtl {
  --font-family: "Estedad-VF", Tahoma, sans-serif;
}
.rtl {
  direction: rtl;
}
body {
  margin: 0;
  background: var(--bg-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--text-color);
}
:root {
  --wallpaper-tall: url(https://free4kwallpapers.com/uploads/originals/2015/09/07/hd-wallpaper-f%C3%BCr-samsung-galaxy-s3.jpg) !important;
  --wallpaper-wide: url(https://free4kwallpapers.com/uploads/originals/2015/10/03/cold-galaxy-wallpaper.jpg) !important;
}
:root img {
  object-fit: cover !important;
}
.trademark {
  display: none;
}
#workspace {
  flex-direction: column-reverse;
}

.box-shrink.row.room-nav {
  background-image: linear-gradient(to bottom, black, #181817) !important;
  border: none !important;
}
.row.editor-wrapper {
  background-color: #1d222a !important;
}
header.row.centered.box-shrink {
  background-image: linear-gradient(to bottom, black, #181817) !important;
  border-bottom: none !important;
  border-radius: 0 0 13px 13px;
}
.box-shrink.row.row-start.language {
  background-color: transparent;
}
.dialog {
  background-image: linear-gradient(to bottom, black, #181817) !important;
}
.block {
  background-image: linear-gradient(to bottom, black, #181817) !important;
  border: none !important;
}
.menu-items.app-menu,
.menu-items {
  background-image: linear-gradient(to bottom, black, #181817) !important;
  border-color: #243b57 !important;
  border-radius: 10px;
  box-shadow: none !important;
}
.menu-items li {
  display: flex;
  flex-direction: row-reverse;
}
.menu-items li:hover {
  background-image: linear-gradient(to bottom, black, #181817) !important;
}
.room-nav .dropdown .dropdown-toggle:hover {
  border: 1px solid lightgray;
  border-radius: 5px;
}
.room-nav .dropdown .dropdown-toggle {
  border: 1px solid lightgray;
  border-radius: 5px;
}
.clockMain {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  direction: ltr;
  border: 5px black solid;
  background-image: linear-gradient(
    rgb(17, 17, 17),
    rgba(37, 45, 56, 0.486)
  ) !important;
}
.toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropCustom {
  height: 100% !important;
  margin-left: 10px !important;
}

.chat-msg,
.message-commands {
  background-image: linear-gradient(to bottom, black, #181817) !important;
}

.tuxgroup {
  padding: 3px;
  border-radius: 20px;
  position: relative;
  height: 32px;
  width: 30px;
  fill: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-left: 10px;
}
.rtl .menu-items li .icon {
  margin-left: 5px;
  margin-right: 5px;
}
.rtl .menu-items li .checked-icon {
  right: 5px;
}
.icon.small.sub-menu-arrow {
  transform: rotate(180deg);
  margin-left: auto !important;
}
.btn.btn-flat.action-btn.mic,
.btn.btn-flat.action-btn.webcam,
.btn.btn-flat.action-btn.desktop,
.btn.btn-flat.action-btn.action-board,
.btn.btn-flat.action-btn.raised-hand {
  background-color: #1d222a !important;
}
body {
  overflow: hidden;
}
.col.box.block.users,
.col.box.block.chat,
.sidebar {
  z-index: 3;
}
.box-shrink.row.room-nav {
  z-index: 4;
}
.tuxgroup,
#toolbar,
.btn,
button,
button:not([class="emoji-list"]),
.clockMain{
  /*logo rgb*/
  animation: rgb-logo 8s linear 0s infinite alternate;
  transition: 0.2s;
}
@keyframes rgb-logo {
  0% {
    background-color: #f00;
  }
  5% {
    background-color: #f00;
  }
  15% {
    background-color: #f80;
  }
  25% {
    background-color: #ff0;
  }
  35% {
    background-color: #8f0;
  }
  45% {
    background-color: #0f8;
  }
  55% {
    background-color: #08f;
  }
  65% {
    background-color: #00f;
  }
  75% {
    background-color: #80f;
  }
  85% {
    background-color: #f08;
  }
  95% {
    background-color: #f00;
  }
  100% {
    background-color: #f00;
  }
} /*end of rgb*/
#toolbar .btn {
  background-color: black;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 20px;
}
#toolbar {
  border-radius: 10px !important;
  border: 5px black solid !important;
  width: 500px;
  justify-content: center;
  padding: 2px;
}
.btn.btn-flat.toggle-btn,
#box,
.dropdown btn {
  background-image: linear-gradient(to bottom, #111111, #252d387c) !important;
}
.rtl #toolbar,
.room-nav button:not(.btn-sm),
.chat .commands-box button,
.chat .commands-box button,
#toolbar,
.dropdown button {
  background-image: linear-gradient(
    rgb(17, 17, 17),
    rgba(37, 45, 56, 0.486)
  ) !important;
  border: 5px black solid;
}
.dropdown button {
  border-radius: 5px;
}
.chat .message-box-content {
  opacity: 90%;
}
.emoji-list button {
  background-color: rgb(36, 59, 87) !important;
  border-radius: 0px;
}
.login-box button.blue,
.login-box button.orange,
.login-box button,
.login-box input ,
button{
  border: 5px black solid !important;
  border-radius: 10px !important;
  background-image: linear-gradient(rgb(17, 17, 17), rgba(37, 45, 56, 0.486)) !important;
}
.row.box input;
 {
  border: 5px black solid !important;
  border-radius: 10px !important;
}
.nav .nav-item {
  background-image: linear-gradient(
    rgb(17, 17, 17),
    rgba(37, 45, 56, 0.486)
  ) !important;
}
#page_room{
  animation: background-animation 8s linear 0s infinite alternate;
  tranition:0.2s;
}
@keyframes background-animation{
  0%{
    background-color: #252525;
  }
  25%{
    background-color: #242424
  }
  50%{
    background-color: #353535;
  }
  75%{
    background-color: #202020
  }
  100%{
    background-color: #292929;
  }
}
.rtl .chat .commands-box div[contenteditable]{
  border-buttom: 5px black solid !important;
}
